  <label for="a">Amount</label>
  <input #amountInput name="amount" type="number" id="amount" class="form-control">
  <button (click)="generateCharts(amountInput.value)" class="btn btn-success" type="submit">Generate</button>
  <div *ngIf="chartData.getCharts()">
    <br /><br />
    Select Chart to update:
    <select #selectElem>
      <option *ngFor="let chart of chartData.getCharts()" [ngValue]="chart.iteration">
          {{chart.iteration}}
      </option>
    </select>
    <input #changeTestInput name="change" type="number" id="change" class="form-control">
    <button (click)="changeChartData(changeTestInput.value, selectElem.value)" class="btn btn-success" type="submit">Change</button>
  </div>

   <!-- <infinitelist
  [width]='"100%"'
  [height]='1000'
  [data]='chartData.getCharts()'
  [itemSize]='500'
  (update)='update($event)'>
      <div *ngFor="let item of event?.items; let i=index;" [ngStyle]="event.getStyle(i)">
        <app-chart [iteration]="item.iteration" [chartData]="item.data"></app-chart>
      </div>
</infinitelist> -->
<div *ngFor="let item of chartData.getCharts() | slice:0:limit">
  <app-chart [iteration]="item.iteration" [chartData]="item.data" [chartDataChange]="item.dataChange"></app-chart>
</div>

